dialog#pixel-perfect-dialog {
	all: unset;

	position: absolute;
	z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999;

	opacity: 0.5;

	filter: invert(1);


	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: move;

	outline: none; /* Remove focus outline */

	/* make it a bit bigger. */
	border-radius: 10px;

	/* make it a bit bigger. */
	background-color: transparent;

	background-repeat: no-repeat;
	background-position: center;
}
